<div class="ui segment h100 {{load}}">
    <div class="ui grid center aligned h100">
        <div class="row h10">
            <div class="column">
                <button class="ui labeled icon green button" ng-click="Start()" ng-hide="streaming"><i class="play icon"></i>Start Live Cam</button>
                <button class="ui labeled icon red button" ng-click="Stop()" ng-show="streaming"><i class="stop icon"></i>Stop</button>
                <span style="color: #e74c3c; margin-left: 10px; font-weight: bold;" ng-show="streaming">&#x25cf; LIVE</span>
            </div>
        </div>
        <div class="row h90">
            <div class="column h100">
                <img id="liveFrame" style="width: 100%; max-height: 80vh; border-radius: 4px; display: none;">
            </div>
        </div>
    </div>
</div>
